# Archivos de dependencias y builds en cualquier subcarpeta
**/node_modules/
**/dist/
**/dist-ssr/
**/.vite/

# Archivos temporales y logs
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/pnpm-debug.log*

# Archivos de entorno local (variables secretas)
**/*.local
**/.env*.local

# Configuración del sistema y editores
.DS_Store
**/.DS_Store
.vscode/
.idea/